@media (max-width: 991.98px) {
	.price {
		&__wrapper {
			grid-template: repeat(3, minmax(44px, auto)) / repeat(auto-fit, 290px);
			margin-top: 48px;
			padding: 0;
			padding-left: 35px;
		}
	}
}

@media (max-width: 767.98px) {
	.price {
		&__wrapper {
			grid-template: repeat(3, minmax(44px, auto)) / repeat(auto-fit, 100%);
			justify-content: center;
		}
	}
}

@media (max-width: 575.98px) {
	.price {
		&__wrapper {
			padding-left: 24px;
		}
	}
}
