@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }
}

@import 'blocks/divider/divider';
@import 'blocks/socialpanel/socialpanel';
@import 'blocks/title/title';
@import 'blocks/subtitle/subtitle';
@import 'blocks/buttons/buttons';
@import 'blocks/hamburger/hamburger';
@import 'blocks/menu/menu';
@import 'blocks/promo/promo';
@import 'blocks/about/about';
@import 'blocks/experience/experience';
@import 'blocks/skills/skills';
@import 'blocks/progress/progress';
@import 'blocks/portfolio/portfolio';
@import 'blocks/price/price';
@import 'blocks/contacts/contacts';


// media
@import 'blocks/subtitle/subtitle-media';
@import 'blocks/socialpanel/socialpanel-media';
@import 'blocks/hamburger/hamburger-media';
@import 'blocks/menu/menu-media';
@import 'blocks/promo/promo-media';
@import 'blocks/about/about-media';
@import 'blocks/experience/experience-media';
@import 'blocks/skills/skills-media';
@import 'blocks/progress/progress-media';
@import 'blocks/portfolio/portfolio-media';
@import 'blocks/price/price-media';
@import 'blocks/contacts/contacts-media';
