.hamburger {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 36px;
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;

	&__item {
		display: block;
		width: 30px;
		height: 3px;
		background: #fff;

		&_long {
			width: 36px;
		}
	}
}
