@media (max-width: 1199.98px) {
	.portfolio {
		padding-top: 80px;

		&__wrapper {
			grid-template: repeat(2, 280px)/repeat(auto-fit, 280px);
			justify-content: center;
			gap: 16px;
			background-color: inherit;
		}

		&__item {

			&_horizontal,
			&_vertical {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.portfolio {
		&__wrapper {
			gap: 24px;
		}
	}
}

@media (max-width: 767.98px) {
	.portfolio {
		padding-top: 40px;

		&__wrapper {
			margin-top: 40px;
			grid-template: repeat(2, 280px)/repeat(auto-fit, minmax(280px, auto));
		}
	}
}
