.about {
	padding: 120px 0;

	&-grid {
		display: grid;
		grid-template-columns: 400px 570px;
		grid-template-rows: 243px 317px;
		gap: 10px 70px;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		grid-row: 1 / span 2;
		background: url('../img/my_photo.jpg') 0 / cover no-repeat;
		border-radius: 4px;
		box-shadow: -1px 1px 4px 3px #ccc
	}

	&__subtitle {
		font-size: 36px;
		line-height: 60px;
	}

	&__text {
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: $text-color;
	}

	&-subgrid {
		display: grid;
		grid-template-columns: repeat(2, 200px);
		grid-template-rows: repeat(2, 116px);
		grid-auto-rows: auto;
		gap: 20px 74px;
		margin: 10px 0 0 50px;

		&__title {
			position: relative;
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			line-height: 21px;
			@include before-round;

			&:before {
				left: -50px;
			}

			&::after {
				position: absolute;
				content: '';
				top: 8px;
				left: -36px;
				display: block;
				width: 25px;
				height: 25px;
			}

			&_1 {
				&::after {
					background: url('../icons/about_me/web_development.svg') center (center/auto) no-repeat;
				}
			}

			&_2 {
				&::after {
					background: url('../icons/about_me/mobile_dev.svg') center (center/auto) no-repeat;
				}
			}

			&_3 {
				&::after {
					background: url('../icons/about_me/design.svg') center (center/auto) no-repeat;
				}
			}
		}

		&__text {
			font-family: 'Poppins', sans-serif;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			color: $text-color;
			margin-top: 6px;
			padding-right: 20px;
		}
	}
}
