.promo {
	min-height: 100vh;
	padding-top: 206px;
	background: url('../img/main_bg.jpg') 50% 50% / cover no-repeat;

	&__name{
		position: relative;
		padding-left: 10px;
		z-index: 10;
		@include before-round;
	}

	&__title {
		width: 532px;
		margin-top: 9px;
	}

	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 248px;
		margin-top: 25px;
	}

	&__link {
		color: #000;
		font-weight: bold;

		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
}
