.title {
	font-weight: bold;
	color: $title-color;

	&__level{
		&_1{
			font-size: 48px;
			line-height: 60px;
		}
	}

	&__section {
		font-size: 16px;
		line-height: 24px;
		position: relative;
		padding-left: 10px;
		z-index: 10;
		@include before-round;
	}

	&_white{
		color: #ffffff;
	}
}
