.title {
	font-weight: bold;
	color: $title-color;

	&__level {
		&_1 {
			font-size: 48px;
			line-height: 60px;
		}
	}

	&_section {
		font-size: 16px;
		line-height: 24px;
		position: relative;
		text-align: center;
		margin-bottom: 0;
		z-index: 10;
		@include before-round;

		&:before {
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&_white {
		color: #ffffff;
	}
}
